section#cart-section {
	mat-list {
		border: 1px solid white;
		border-radius: 0.5em;
		padding: 0;
		margin-bottom: 1em;
		div.mat-list-item-content {
			width: 100%;
			display: flex;
			align-items: center;
		}
		div.qty-selector {
			display: flex;
			align-items: center;
			min-width: 10em;
		}
	}
	div#payment-gateways {
		h2 {
			text-align: center;
		}
		button {
			height: 15em;
			width: 15em;
			border: 1px solid white;
			border-radius: 0.5em;
			padding: 1em;
			mat-icon {
				width: 100%;
				height: 100%;
			}
			svg {
				width: 100%;
			}
			span#nowpayments-button {
				font-size: 1.9em;
				text-align: center;
				font-family: syne,sans-serif;
				font-weight: 300;
				color: white;
				.bolded {
					font-weight: 600;
					color: #64acff;
				}
			}
		}
	}
}

.spacer {
	flex-grow: 1;
}