<section id="cart-section">
	<mat-list role="list" class="border">
		<mat-list-item *ngIf="cartItems.length === 0">No items in your cart!</mat-list-item>
		<mat-list-item *ngFor="let item of cartItems">
			<div class="cart-image" [style.background-image]="'url(' + (item.img ? item.img : '/assets/img/placeholder.png') + ')'"></div>
			<!-- Attribution for placeholder.png: Missing-image-232x150.png by DJKA | CC BY-SA 4.0 -->
			<a *ngIf="item.slug;else noLink" routerLink="/shop" [queryParams]="{ p: item.slug }">{{ item.name }}</a>
			<ng-template #noLink>{{ item.name }}</ng-template>
			<span class="spacer"></span>
			<div class="qty-selector">
				<button mat-icon-button (click)="cart.removeFromCart(item.id, 1)" [disabled]="selectedPaymentGateway !== ''">
					<mat-icon>remove</mat-icon>
				</button>
				<span class="spacer"></span>
				{{ item.qty }}
				<span class="spacer"></span>
				<button mat-icon-button (click)="cart.removeFromCart(item.id, -1)" [disabled]="selectedPaymentGateway !== ''">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</mat-list-item>
	</mat-list>
	<hr />
	<button mat-icon-button (click)="selectedPaymentGateway=''" *ngIf="selectedPaymentGateway !== ''"><mat-icon>arrow_back</mat-icon></button>
	<div [ngSwitch]="selectedPaymentGateway" *ngIf="showCheckoutButtons && cartItems.length > 0">
		<div [@switchTrigger]="'fadeIn'" *ngSwitchCase="'stripe'">
			<sephira-stripe *ngIf="enableStripe" [cartItems]="cartItems" (paymentSuccess)="onPayment($event)"></sephira-stripe>
		</div>
		<div [@switchTrigger]="'fadeIn'" *ngSwitchCase="'paypal'">
			<sephira-paypal *ngIf="enablePayPal" [cartItems]="cartItems"></sephira-paypal>
		</div>
		<div [@switchTrigger]="'fadeIn'" *ngSwitchCase="'coinbase'">
			<sephira-coinbase *ngIf="enableCoinbaseCommerce" [cartItems]="cartItems"></sephira-coinbase>
		</div>
		<div [@switchTrigger]="'fadeIn'" *ngSwitchCase="'nowpayments'">
			<sephira-nowpayments *ngIf="enableNowPayments" [cartItems]="cartItems"></sephira-nowpayments>
		</div>
		<div id="payment-gateways" [@switchTrigger]="'fadeIn'" *ngSwitchDefault>
			<ng-container *ngIf="!requireLogIn || (auth.user$ | async) && requireLogIn;else login">
				<h2>Checkout With</h2>
				<mat-grid-list [cols]="(isHandset$ | async) ? 1 : 2" rowHeight="16em">
					<mat-grid-tile *ngIf="enableStripe">
						<button mat-icon-button class="border" (click)="selectedPaymentGateway='stripe'">
							<mat-icon svgIcon="stripe"></mat-icon>
						</button>
					</mat-grid-tile>
					<mat-grid-tile *ngIf="enablePayPal">
						<button mat-icon-button class="border" (click)="selectedPaymentGateway='paypal'">
							<mat-icon svgIcon="paypal"></mat-icon>
						</button>
					</mat-grid-tile>
					<mat-grid-tile *ngIf="enableCoinbaseCommerce">
						<button mat-icon-button class="border" (click)="selectedPaymentGateway='coinbase'">
							<mat-icon svgIcon="coinbase"></mat-icon>
						</button>
					</mat-grid-tile>
					<mat-grid-tile *ngIf="enableNowPayments">
						<button mat-icon-button class="border" id="nowpayments-button" (click)="selectedPaymentGateway='nowpayments'">
							<span class="nowpayments-wrapper">
								<span class="bolded">NOW</span>Payments
							</span>
						</button>
					</mat-grid-tile>
				</mat-grid-list>
			</ng-container>
			<ng-template #login>
				<div class="center">
					<button mat-raised-button color="primary" routerLink="/login" [queryParams]="{ return: router.url }">Please sign in to continue</button>
				</div>
			</ng-template>
		</div>
	</div>
</section>