section#cart-section {
	mat-list {
		border: 1px solid white;
		border-radius: 0.5em;
		padding: 0;
		margin-bottom: 1em;
		div.mat-list-item-content {
			width: 100%;
			display: flex;
			align-items: center;
		}
		div.cart-image {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 90%;
			width: 4.5em;
			border-radius: 0.25em;
			margin-right: 1em;
		}
		a {
			color: white;
		}
		div.qty-selector {
			display: flex;
			align-items: center;
			min-width: 10em;
		}
	}
	div#payment-gateways {
		h2 {
			text-align: center;
		}
		mat-grid-list {
			width: 32.5em;
			margin: 0 auto;
			button {
				height: 15em;
				width: 15em;
				border: 1px solid white;
				border-radius: 0.5em;
				padding: 1em;
				mat-icon, svg {
					width: 90%;
					height: 90%;
					margin: auto;
				}
				span#nowpayments-button {
					font-size: 1.9em;
					text-align: center;
					font-family: syne,sans-serif;
					font-weight: 300;
					color: white;
					.bolded {
						font-weight: 600;
						color: #64acff;
					}
				}
			}
		}
	}
}

.spacer {
	flex-grow: 1;
}
@media screen and (max-width: 726px) {
	section#cart-section {
		div#payment-gateways {
			mat-grid-list {
				width: auto;
				button {
					padding: 0;
				}
			}
		}
	}
}