<ng-template #loaderSpinner *ngIf="!orderID">
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-template>
<section id="checkout-wrapper" [hidden]="!orderID">
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step [editable]="canEdit" [stepControl]="addressForm" label="Shipping Address">
			<form [formGroup]="addressForm">
				<mat-form-field appearance="fill">
					<mat-label>Full Name</mat-label>
					<input matInput formControlName="fullName" autocomplete="name" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Country Code</mat-label>
					<input matInput formControlName="country" autocomplete="country" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Street Address 1</mat-label>
					<input matInput formControlName="street1" autocomplete="address-line1" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Stree Address 2</mat-label>
					<input matInput formControlName="street2" autocomplete="address-line2" />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>State/Providence/Region</mat-label>
					<input matInput formControlName="stateProvidenceRegion" autocomplete="address-level1" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>City</mat-label>
					<input matInput formControlName="city" autocomplete="address-level2" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Postal Code/ZIP</mat-label>
					<input matInput formControlName="zip" autocomplete="postal-code" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Phone Number</mat-label>
					<input matInput formControlName="phoneNumber" autocomplete="tel" required />
				</mat-form-field>
				<button mat-button type="button" matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step [editable]="canEdit" [stepControl]="billingForm" label="Billing Address">
			<form [formGroup]="billingForm">
				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" autocomplete="email" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Full Name</mat-label>
					<input matInput formControlName="fullName" autocomplete="name" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Country Code</mat-label>
					<input matInput formControlName="country" autocomplete="country" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Street Address 1</mat-label>
					<input matInput formControlName="street1" autocomplete="address-line1" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Stree Address 2</mat-label>
					<input matInput formControlName="street2" autocomplete="address-line2" />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>State/Providence/Region</mat-label>
					<input matInput formControlName="stateProvidenceRegion" autocomplete="address-level1" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>City</mat-label>
					<input matInput formControlName="city" autocomplete="address-level2" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Postal Code/ZIP</mat-label>
					<input matInput formControlName="zip" autocomplete="postal-code" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Phone Number</mat-label>
					<input matInput formControlName="phoneNumber" autocomplete="tel" required />
				</mat-form-field>
				<button mat-button type="button" matStepperPrevious>Back</button>
				<button mat-button type="button" matStepperNext (click)="renderPayPalCoinbase()">Next</button>
			</form>
		</mat-step>
		<mat-step>
			<button mat-button matStepperPrevious>Back</button>
			<section id="payment-forms">
				<a *ngIf="coinbaseCommerceRes && coinbaseCommerceRes.expires_at > now" [href]="coinbaseCommerceRes.hosted_url">Pay with Coinbase</a>
				<div id="paypal-button-container"></div>
				<form id="stripe-payment-form">
					<div id="card-element">
						<!--Stripe.js injects the Card Element-->
					</div>
					<button id="submit">
						<div class="spinner hidden" id="spinner"></div>
						<span id="button-text">Pay with Stripe</span>
					</button>
					<p id="card-error" role="alert"></p>
				</form>
			</section>
		</mat-step>
	</mat-vertical-stepper>
	<div id="checkout-right">
		<mat-list id="products">
			<mat-list-item *ngFor="let product of products">
				{{ product.name }} {{ product.price | currency }} x{{ product.qty }}
			</mat-list-item>
			<mat-list-item>Subtotal: {{ calcSubtotal() | currency }}</mat-list-item>
			<mat-list-item>Discount: {{ calcSubtotal() - calcDiscountPrice() | currency }}</mat-list-item>
			<mat-list-item>Estimated Tax: {{ calcDiscountPrice() * (taxRate ? taxRate.estimatedCombinedRate : 0) | currency }}</mat-list-item>
			<mat-list-item>Shipping: {{ shippingAmount | currency }}</mat-list-item>
			<mat-list-item>Total: {{ calcDiscountPrice() + (calcDiscountPrice() * (taxRate ? taxRate.estimatedCombinedRate : 0)) + shippingAmount | currency }}</mat-list-item>
		</mat-list>
		<mat-form-field appearance="fill">
			<mat-label>Coupons</mat-label>
			<mat-chip-list #chipList>
				<mat-chip *ngFor="let coupon of coupons" (removed)="removeCoupon(coupon)">
					{{ coupon.code }}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
				<input placeholder="Add Coupon..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeyCodes" (matChipInputTokenEnd)="addCoupon($event)" [disabled]="stepper.selectedIndex === 2">
			</mat-chip-list>
		</mat-form-field>
	</div>
</section>