<form [formGroup]="newProductGroup" (ngSubmit)="newProduct()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="title" autocomplete="off" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input matInput type="text" formControlName="slug" autocomplete="off" required />
        <mat-error *ngIf="slug.hasError('slugTaken') && slug.dirty">
            Username not available
        </mat-error>
        <mat-error *ngIf="slug.pending && slug.dirty">
            Checking availability...
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Excerpt</mat-label>
        <textarea matInput formControlName="excerpt" autocomplete="off"></textarea>
    </mat-form-field>
    <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" autocomplete="off" required />
        <span matPrefix>$</span>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit Product</button>
</form>

<mat-paginator [length]="productCount" [pageSize]="productPageEvent.pageSize" (page)="fetchProducts($event)"></mat-paginator>
<ng-template #loaderSpinner>
    <div id="loader-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<div *ngIf="loaded;else loaderSpinner">
    <button mat-raised-button *ngFor="let product of shownProducts" [routerLink]="['/admin/products', product.id]">
        {{ product.id }}
	</button>
</div>