<section id="paypal-gateway" [class.hidden]="!(orderID && paypalReady)">
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step [stepControl]="addressForm" label="Shipping Address">
			<sephira-checkout-address-form [formGroup]="addressForm"></sephira-checkout-address-form>
		</mat-step>
		<mat-step [stepControl]="billingForm" label="Billing Address">
			<sephira-checkout-address-form [formGroup]="billingForm" [allowBack]="true" (next)="renderPayPal()"></sephira-checkout-address-form>
		</mat-step>
		<mat-step>
			<div #paypalButtonContainer id="paypal-button-container"></div>
			<button mat-raised-button color="primary" matStepperPrevious>Back</button>
		</mat-step>
	</mat-vertical-stepper>
	<div id="checkout-right">
		<sephira-price-total-display [cartItems]="cartItems" [coupons]="coupons" [taxRate]="taxRate" [shippingZone]="shippingZone"></sephira-price-total-display>
		<sephira-coupon-input *ngIf="orderID" [orderID]="orderID" [disabled]="stepper.selectedIndex === 2" (couponEmitter)="coupons = $event"></sephira-coupon-input>
	</div>
</section>

<ng-container *ngIf="!(orderID && paypalReady)">
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-container>