<mat-card>
	<mat-card-content>
		<mat-paginator [length]="postPageEvent.length" [pageSize]="postPageEvent.pageSize" (page)="fetchPosts($event)"></mat-paginator>
		<ng-template #loaderSpinner>
			<div id="loader-spinner">
				<mat-spinner></mat-spinner>
			</div>
		</ng-template>
		<ng-container *ngIf="loaded;else loaderSpinner">
			<div *ngFor="let post of shownPosts">
				<mat-checkbox (change)="postSelectedChange($event, post.id!)" color="primary" [checked]="isSelected(post.id!)">{{ post.title }} ({{ post.slug }}) ({{ post.status | titlecase }})</mat-checkbox>
			</div>
		</ng-container>
	</mat-card-content>
</mat-card>