<!-- <form [formGroup]="newCouponGroup" (ngSubmit)="newCoupon()">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" autocomplete="off" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input matInput formControlName="slug" autocomplete="off" required />
        <mat-error *ngIf="slug.hasError('slugTaken') && slug.dirty">
            Slug not available
        </mat-error>
        <mat-error *ngIf="slug.pending && slug.dirty">
            Checking availability...
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit Page</button>
</form> -->

<mat-paginator [length]="postPageEvent.length" [pageSize]="postPageEvent.pageSize" (page)="fetchPosts($event)"></mat-paginator>
<ng-template #loaderSpinner>
	<div id="loader-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<div *ngIf="loaded;else loaderSpinner">
	<button mat-raised-button *ngFor="let post of shownPosts" [routerLink]="['/admin', postType, post.id]">
        {{ post.title }} ({{ post.slug }})
	</button>
</div>