Description=pm2 instance to serve Flask-API Angular Express Server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/path/to/site
ExecStart=pm2 start /path/to/site/dist/flask-api/server/main.js --name ssr.angular

[Install]
WantedBy=multi-user.target