<section id="nowpayments-gateway" [class.hidden]="!orderID">
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step [stepControl]="coinForm" label="Select Coin" *ngIf="checkoutStyle !== 'invoice'">
			<form [formGroup]="coinForm" *ngIf="availableCoins.length > 0;else loaderSpinner">
				<mat-form-field appearance="fill">
					<mat-label>Coin To Pay With</mat-label>
					<mat-select formControlName="coin" required>
						<mat-option class="coin-option" *ngFor="let coin of availableCoins" [value]="coin">
							<img *ngIf="coin.ext" [src]="'/assets/img/crypto_logos/' + coin.coin + '.' + coin.ext" matListIcon />
							{{ coin.coin | uppercase }}
						</mat-option>
						<mat-select-trigger class="coin-option" *ngIf="coin.value">
							<img *ngIf="coin.value.ext" [src]="'/assets/img/crypto_logos/' + coin.value.coin + '.' + coin.value.ext" matListIcon />
							{{ coin.value.coin | uppercase }}
						</mat-select-trigger>
					</mat-select>
				</mat-form-field>
				<button mat-button [disabled]="coinForm.invalid" matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step [stepControl]="addressForm" label="Shipping Address">
			<sephira-checkout-address-form [formGroup]="addressForm" [allowBack]="checkoutStyle !== 'invoice'" (next)="renderNowPayments()"></sephira-checkout-address-form>
		</mat-step>
		<mat-step>
			<section *ngIf="nowPaymentRes;else loaderSpinner">
				<div *ngIf="checkoutStyle !== 'invoice';else invoice">
					<ng-container *ngIf="now.valueOf() < nowPaymentRes.created_at.valueOf() + (5 * 60)">
						<qr-code [value]="nowPaymentRes.pay_addresss"></qr-code>
						<p>{{ nowPaymentRes.pay_addresss }}</p>
						<p>{{ nowPaymentRes.pay_amount | currency:nowPaymentRes.pay_currency }}</p>
						<p>Expires in {{ (nowPaymentRes.created_at.valueOf() + (5 * 60)) - now.valueOf()| date }}</p>
					</ng-container>
					<ng-template #expired>
						<p>Your payment amount may be out of date. <button mat-raised-button color="primary" (click)="renderNowPayments()">Click here to generate a get the latest rate</button></p>
					</ng-template>
				</div>
				<ng-template #invoice>
					<a [href]="nowPaymentRes.invoice_url">Finish paying with NOWPayments</a>
				</ng-template>
			</section>
			<button mat-button (click)="nowPaymentRes = null" matStepperPrevious>Back</button>
		</mat-step>
	</mat-vertical-stepper>
	<div id="checkout-right" *ngIf="coinSelected">
		<ng-container *ngIf="minimalAmount;else subLoaderSpinner">
			<sephira-price-total-display [cartItems]="cartItems" [coupons]="coupons" [taxRate]="taxRate" [shippingZone]="shippingZone" [minPrice]="minimalAmount.fiat_equivalent" gateway="NOWPayments"></sephira-price-total-display>
			<sephira-coupon-input *ngIf="orderID" [orderID]="orderID" [disabled]="stepper.selectedIndex === 2" (couponEmitter)="coupons = $event"></sephira-coupon-input>
		</ng-container>
		<ng-template #subLoaderSpinner>
			<div class="center">
				<p>Loading price information</p>
				<sephira-loader-spinner></sephira-loader-spinner>	
			</div>
		</ng-template>
	</div>
</section>

<ng-container *ngIf="!orderID">
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-container>

<ng-template #loaderSpinner>
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-template>