<section id="nowpayments-gateway" [class.hidden]="!orderID">
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step [stepControl]="coinForm" label="Select Coin" *ngIf="checkoutStyle !== 'invoice'">
			<form [formGroup]="coinForm">
				<mat-select formControlName="coin" required>
					<mat-option *ngFor="let coin of availableCoins" [value]="coin">
						<span>
							<img [src]="'/assets/img/crypto_logos/' + coin + '.svg'" onerror="this.style.display='none'" />
							<img [src]="'/assets/img/crypto_logos/' + coin + '.png'" onerror="this.style.display='none'" />
						</span>
						<span>{{ coin | uppercase }}</span>
					</mat-option>
				</mat-select>
				<button mat-raised-button color="primary" [disabled]="coinForm.invalid" matStepperNext>Next</button>
			</form>
		</mat-step>
		<mat-step [stepControl]="addressForm" label="Shipping Address">
			<sephira-checkout-address-form [formGroup]="addressForm" [allowBack]="checkoutStyle !== 'invoice'"></sephira-checkout-address-form>
		</mat-step>
		<mat-step>
			<button mat-raised-button color="primary" matStepperPrevious>Back</button>
		</mat-step>
	</mat-vertical-stepper>
	<div id="checkout-right">
		<sephira-price-total-display [cartItems]="cartItems" [coupons]="coupons" [taxRate]="taxRate" [shippingZone]="shippingZone" [minPrice]="5" gateway="NOWPayments"></sephira-price-total-display>
		<sephira-coupon-input *ngIf="orderID" [orderID]="orderID" [disabled]="stepper.selectedIndex === 2" (couponEmitter)="coupons = $event"></sephira-coupon-input>
	</div>
</section>

<ng-container *ngIf="!orderID">
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-container>