<p>Admin Section</p>
<hr />

<button mat-raised-button color="primary" routerLink="/admin/users">Users</button>
<button mat-raised-button color="primary" routerLink="/admin/orders">Orders</button>
<button mat-raised-button color="primary" routerLink="/admin/shipping-zones">Shipping Zones</button>
<button mat-raised-button color="primary" routerLink="/admin/menu-items">Menu</button>

<hr />

<button mat-raised-button color="primary" *ngFor="let type of types" [routerLink]="'/admin/' + type">{{ type }}</button>