<h2>Admin Section</h2>
<hr />

<button mat-raised-button color="primary" routerLink="/admin/backend-editor">Open Backend Editor</button>

<hr />

<h3>Built Ins</h3>

<button mat-raised-button color="primary" routerLink="/admin/users">Users</button>
<button mat-raised-button color="primary" routerLink="/admin/orders">Orders</button>
<button mat-raised-button color="primary" routerLink="/admin/shipping-zones">Shipping Zones</button>
<button mat-raised-button color="primary" routerLink="/admin/menu-items">Menu</button>

<hr />

<h3>Post types</h3>

<button mat-raised-button color="primary" *ngFor="let type of types" [routerLink]="'/admin/' + type">{{ type }}</button>