<ng-template #loaderSpinner>
    <div id="loader-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<div *ngIf="loaded;else loaderSpinner">
    <div *ngIf="product;else notFound">
        <div id="product-head">
            <div id="img-gallery">
                <img id="product-img" [src]="product.img && product.img.length > 0 ? product.img[selectedImg] : '../../assets/img/placeholder.png'" />
                <!-- Attribution for placeholder.png: Missing-image-232x150.png by DJKA | CC BY-SA 4.0 -->
                <div id="img-subgallery" *ngIf="product.img">
                    <img *ngFor="let img of product.img;index as i" [ngClass]="{selected: selectedImg == i}" [src]="img" (click)="selectedImg = i" />
                </div>
            </div>
            <div>
                <h2>{{ product.title }}</h2>
                <p>{{ product.price | currency }}</p>
                <button mat-raised-button color="primary" (click)="cartService.addToCart(product)">Add to cart</button>
            </div>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Description">
                <div [innerHTML]="product.content"></div>
            </mat-tab>
            <mat-tab [label]="'Reviews (' + product.totalReviews + ')'">
                <form *ngIf="reviewAllowed" [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                    <app-star-rating (ratingUpdated)="ratingUpdated($event)"></app-star-rating>
                    <mat-form-field appearance="fill">
                        <mat-label>Review</mat-label>
                        <input matInput formControlName="review" />
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" [disabled]="reviewForm.invalid">Submit Review</button>
                </form>
                <mat-paginator [length]="reviewCount" [pageSize]="reviewPageEvent.pageSize" (page)="fetchReviews($event)"></mat-paginator>
                <div id="reviews">
                    <p *ngIf="reviews.length == 0">No reviews yet</p>
                    <div *ngFor="let review of shownReviews">
                        <p>{{ review.reviewer!.firstName }} {{ review.score }}</p>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
    <ng-template #notFound>
        <p>404</p>
    </ng-template>
</div>