<form [formGroup]="otpForm" (ngSubmit)="submitOtp()">
	<mat-form-field appearance="fill">
		<mat-label>Two Factor Code</mat-label>
		<input matInput formControlName="otp" type="tel" [errorStateMatcher]="errorMatcher" required />
		<mat-hint>You can find it in your two factor authenitcator app (Google Authenticator, etc.)</mat-hint>
		<mat-error *ngIf="otpFormControl.hasError('required')">
			Two factor code is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	<mat-dialog-actions>
		<button mat-raised-button color="primary" [disabled]="otpForm.invalid || loggingIn">Log In<mat-icon>login</mat-icon></button>
		<button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel<mat-icon>cancel</mat-icon></button>
	</mat-dialog-actions>
</form>