section {
	position: relative;
	width: 100%;
	height: 100%;
	div.slide {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		overflow-x: hidden;
		div.front-image {
			z-index: -1;
			position: absolute;
			top: 0;
			bottom: 0;
			height: 70%;
			width: auto;
			img {
				height: 100%;
				width: auto;
				object-fit: cover;
			}
		}
		.hero-text {
			z-index: 0;
			margin: 20em 0 0 20em;
			overflow: hidden;
			white-space: nowrap;
			h2,
			h3,
			p {
				width: calc(100vw - 280px);
				white-space: initial;
			}
			h2,
			h3 {
				margin-bottom: 1em;
			}
			h3 {
				margin-left: 0.25em;
			}
			p {
				margin-left: 0.8em;
			}
			p a.hero-button::after {
				content: "\2192";
			}
		}
	}
	div.slide.show {
		z-index: 1;
	}
	div.slide.oldShow {
		z-index: 0;
	}
	div.slide.hidden {
		z-index: -1;
	}
	#bottom-text {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		bottom: 3em;
		z-index: 2;
		.progress-bar-wrapper {
			height: 1em;
			width: 100px;
			border-radius: 1em;
			margin-bottom: 1em;
			.progress-bar {
				width: 0;
				height: 100%;
				border-radius: 1em;
			}
		}
		p {
			font-size: medium;
			transition: color 1s linear;
		}
	}
}