<ng-template #loaderSpinner>
    <div id="loader-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<form *ngIf="coupon;else loaderSpinner" [formGroup]="couponGroup" (ngSubmit)="editCoupon()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="title" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input matInput formControlName="slug" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Excerpt</mat-label>
        <textarea matInput formControlName="excerpt"></textarea>
    </mat-form-field>
    <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option value="publish">Publish</mat-option>
            <mat-option value="private">Private</mat-option>
            <mat-option value="draft">Draft</mat-option>
            <mat-option value="deactivated">Deactivated</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <p>Categories</p>
        <button mat-icon-button type="button" (click)="addCategory()"><mat-icon>add</mat-icon></button>
        <button mat-icon-button type="button" (click)="removeCategory()"><mat-icon>delete</mat-icon></button>
        <mat-form-field *ngFor="let categoryControl of categoriesArray.controls;index as i" appearance="fill">
            <mat-label>Category {{ i + 1 }}</mat-label>
            <input matInput [formControl]="$any(categoryControl)" required />
        </mat-form-field>
    </div>
    <mat-checkbox formControlName="storeWide" color="primary">Store Wide?</mat-checkbox>
    <div *ngIf="!storeWide">
        <mat-paginator [length]="productCount" [pageSize]="productPageEvent.pageSize" (page)="fetchProducts($event)"></mat-paginator>
        <ng-template #loaderSpinner>
            <div id="loader-spinner">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
        <div *ngIf="loaded;else loaderSpinner">
            <div *ngFor="let product of products">
                <mat-checkbox (change)="productSelectedChange($event, product)" color="primary" [checked]="applicableProducts.indexOf(product.id!) !== -1">{{ product.title }} ({{ product.slug }}) ({{ product.status | titlecase }})</mat-checkbox>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" type="button" routerLink="/admin/coupons">Back</button>
    <button mat-raised-button color="warn" type="button" (click)="deleteCoupon()">Delete</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="couponGroup.invalid || saving">Save</button>
    <p *ngIf="saved">Saved</p>
</form>