@import 'src/theme.scss';

form {
	display: flex;
	flex-direction: column;
	max-width: 35em;
	justify-content: center;
	margin: 1em auto 0;
	padding: 0 1em;
	button:not(:last-child) {
		margin-bottom: 1em;
	}
}

div#verify-email-prompt, div.card {
	text-align: center;
	max-width: 20em;
	margin: 1em auto 0;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: mat-color($sephira-light-primary);
	color: white;
}

div#verify-email-prompt.dark, div.card.dark {
	background-color: mat-color($sephira-dark-primary);
}

div.card {
	max-width: unset;
	width: 100%;
}