<mat-expansion-panel #panel [expanded]="opened">
	<mat-expansion-panel-header>
		<mat-panel-title><ng-content></ng-content></mat-panel-title>
		<mat-panel-description>{{ panel.expanded ? 'Close' : 'Open' }} Media Browser</mat-panel-description>
	</mat-expansion-panel-header>
	<div id="header">
		<ng-container *ngIf="allowUpload">
			<div id="upload">
				<input type="file" class="hidden" (change)="onFileUploaderSelected($event)" #fileUpload />
				<mat-progress-spinner color="accent" diameter="52" [value]="uploadPercent"></mat-progress-spinner>
				<button mat-raised-button class="round-button" type="button" color="primary" (click)="fileUpload.click()"><mat-icon>attach_file</mat-icon></button>
			</div>
			<button mat-raised-button class="round-button" type="button" color="primary" (click)="openCreateFolder()"><mat-icon>add</mat-icon></button>
		</ng-container>
		<button mat-raised-button class="round-button" type="button" color="primary" (clicK)="fetchFiles()"><mat-icon>refresh</mat-icon></button>
		<mat-form-field appearance="fill">
			<mat-label>Sort By</mat-label>
			<mat-select [formControl]="sortFormControl">
				<mat-option *ngFor="let option of ['filename', 'size']" [value]="option">
					{{ option | titlecase }}
				</mat-option>
			</mat-select>
			<button mat-icon-button (click)="changeSortDirection(); $event.stopPropagation()" matSuffix><mat-icon>{{ sortDirection === '' ? 'north' : 'south' }}</mat-icon></button>
		</mat-form-field>
	</div>
	<div id="browser">
		<div id="list" *ngIf="loaded;else loaderSpinner">
			<mat-selection-list [multiple]="false" (selectionChange)="enterFolder($event)">
				<mat-list-option [value]="{ owner: '', folder: '..', filename: '' }" *ngIf="folder !== ''"><mat-icon>north</mat-icon></mat-list-option>
				<mat-list-option *ngFor="let folder of folders" [value]="folder">
					<mat-icon mat-list-icon>folder</mat-icon> {{ folder.filename }}
				</mat-list-option>
			</mat-selection-list>
			<mat-selection-list (selectionChange)="onFileSelected($event)" [multiple]="allowMultiple">
				<mat-list-option *ngIf="!allowMultiple">Clear Selection</mat-list-option>
				<mat-list-option color="primary" *ngFor="let file of files" [value]="file" [selected]="isSelected(file.id!)">
					{{ file.filename }} ({{ file.size ? core.formatBytes(file.size) : '?' }})
				</mat-list-option>
			</mat-selection-list>
		</div>
		<div id="image-preview" [hidden]="lastSelectedFile === undefined" *ngIf="showPreview">
			<button mat-raised-button class="round-button" type="button" (click)="deleteLastSelectedFile()"><mat-icon>clear</mat-icon></button>
			<sephira-video-player #player [hidden]="!isVideo"></sephira-video-player>
			<img *ngIf="!isVideo" [src]="isImg ? displayedImage : '/assets/img/placeholder.png'" />
			<!-- Attribution for placeholder.png: Missing-image-232x150.png by DJKA | CC BY-SA 4.0 -->
		</div>
	</div>
</mat-expansion-panel>

<ng-template #loaderSpinner>
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-template>