<section id="coinbase-gateway" [class.hidden]="!orderID">
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step [stepControl]="addressForm" label="Shipping Address">
			<sephira-checkout-address-form [formGroup]="addressForm" (next)="renderCoinbase()"></sephira-checkout-address-form>
		</mat-step>
		<mat-step>
			<a *ngIf="coinbaseRes && coinbaseRes.expires_at >= now" [href]="coinbaseRes.hosted_url">Pay With Coinbase</a>
			<p *ngIf="coinbaseRes && coinbaseRes.expires_at < now">Your Coinbase payment link has expired. <button mat-raised-button color="primary" (click)="renderCoinbase()">Click here to generate a new one</button></p>
			<button mat-button matStepperPrevious>Back</button>
		</mat-step>
	</mat-vertical-stepper>
	<div id="checkout-right">
		<sephira-price-total-display [cartItems]="cartItems" [coupons]="coupons" [taxRate]="taxRate" [shippingZone]="shippingZone" [minPrice]="2" gateway="Coinbase"></sephira-price-total-display>
		<sephira-coupon-input *ngIf="orderID" [orderID]="orderID" [disabled]="stepper.selectedIndex === 2" (couponEmitter)="coupons = $event"></sephira-coupon-input>
	</div>
</section>

<ng-container *ngIf="!orderID">
	<sephira-loader-spinner></sephira-loader-spinner>
</ng-container>