<section *ngIf="loaded;else loaderSpinner">
    <ng-container *ngIf="page;else notFound">
		<ng-container *ngIf="page.contentType === 'html'">
			<div [innerHtml]="page.content"></div>
		</ng-container>
		<ng-container *ngIf="page.contentType === 'markdown'">
			<sephira-markdown-editor [data]="$any(page.content)"></sephira-markdown-editor>
		</ng-container>
    </ng-container>
    <ng-template #notFound>
        <h1>404</h1>
    </ng-template>
</section>
<ng-template #loaderSpinner>
    <sephira-loader-spinner></sephira-loader-spinner>
</ng-template>