<div id="loader-spinner" *ngIf="gettingInformation">
    <mat-spinner></mat-spinner>
</div>
<section id="media-browser-wrapper">
    <div id="uploader">
        <input type=file class="hidden" (change)="onFileUploaderSelected($event)" #fileUpload />
        <button mat-raised-button class="round-button" type="button" color="primary" (click)="fileUpload.click()"><mat-icon>attach_file</mat-icon></button>
    </div>
    <div id="browser">
        <div *ngFor="let image of files; index as i" [hidden]="!(ratio === '*' || ratio === image.ratio)">
            <img [src]="image.path" (click)="selectFile(i)" [style]="'border: 4px solid ' + ((multipleSelect ? arraySelected.indexOf(i) !== -1 : i == selected) ? '#673ab7' : 'transparent') + ';'" />
            <button mat-icon-button (click)="deleteFile(i)"><mat-icon>clear</mat-icon></button>
        </div>
    </div>
</section>