<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<div id="sidenav-wrapper">
			<mat-toolbar><a routerLink="/">Flask API</a></mat-toolbar>
			<div id="login-forms" *ngIf="!isSignedIn()">
				<app-register></app-register>
				<hr />
				<app-login></app-login>
			</div>
			<mat-nav-list>
				<a *ngIf="user?.admin" mat-list-item routerLink="/admin/home">Admin Settings</a>
				<a *ngFor="let link of links" mat-list-item [routerLink]="[link.link]">{{ link.text }}</a>
			</mat-nav-list>
			<span class="spacer"></span>
			<div id="sidenav-bottom" *ngIf="isSignedIn()">
				<button mat-icon-button (click)="logout()">
					<mat-icon>logout</mat-icon>
				</button>
				<button mat-icon-button routerLink="/settings">
					<mat-icon>settings</mat-icon>
				</button>
				<button mat-icon-button routerLink="/dashboard">
					<mat-icon>dashboard</mat-icon>
				</button>
			</div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
		<div id="sidenav-button">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
		</div>
		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>