<div [class.sephira-dark]="lightOrDark !== 'light'" class="mat-app-background">
	<section id="top-bar-wrapper" *ngIf="isHandset ? mobileMenuStyle === 'top' : desktopMenuStyle === 'top';else sidenav">
		<mat-toolbar>
			<h1 class="title" [class.clickable]="router.url !== '/'" routerLink="/">{{ siteTitle }}</h1>
			<span class="spacer"></span>
			<sephira-menu [menuItems]="isAdmin ? adminMenuItems : menuItems" [horizontal]="true" [isAdmin]="isAdmin"></sephira-menu>
			<sephira-cart *ngIf="!isAdmin && shopEnabled"></sephira-cart>
			<ng-container *ngIf="auth.isSignedIn;else notSignedIn">
				<button mat-icon-button routerLink="/settings">
					<mat-icon>settings</mat-icon>
				</button>
				<button mat-icon-button (click)="logout()">
					<mat-icon>logout</mat-icon>
				</button>
				<button mat-icon-button [routerLink]="['/' + adminPath]" *ngIf="(auth.user$ | async)?.admin && !isAdmin">
					<mat-icon>admin_panel_settings</mat-icon>
				</button>
			</ng-container>
			<mat-slide-toggle [checked]="lightOrDark !== 'light'" labelPosition="before" (change)="setTheme($event)"><mat-icon>dark_mode</mat-icon></mat-slide-toggle>
		</mat-toolbar>
		<main>
			<router-outlet></router-outlet>
		</main>
	</section>

	<ng-template #sidenav>
		<mat-sidenav-container class="sidenav-container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
			<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
				<div id="sidenav-wrapper">
					<h1 class="title" [class.clickable]="router.url !== '/'" routerLink="/">{{ siteTitle }}</h1>
					<sephira-menu [menuItems]="isAdmin ? adminMenuItems : menuItems" [isAdmin]="isAdmin"></sephira-menu>
					<span class="spacer"></span>
					<div id="sidenav-bottom">
						<mat-slide-toggle [checked]="lightOrDark !== 'light'" labelPosition="before" (change)="setTheme($event)"><mat-icon>dark_mode</mat-icon></mat-slide-toggle>
						<ng-container *ngIf="auth.isSignedIn;else notSignedIn">
							<button mat-icon-button [routerLink]="['/' + adminPath]" *ngIf="(auth.user$ | async)?.admin && !isAdmin">
								<mat-icon>admin_panel_settings</mat-icon>
							</button>
							<button mat-icon-button (click)="logout()">
								<mat-icon>logout</mat-icon>
							</button>
							<button mat-icon-button routerLink="/settings">
								<mat-icon>settings</mat-icon>
							</button>
						</ng-container>
						<sephira-cart *ngIf="!isAdmin && shopEnabled"></sephira-cart>
					</div>
				</div>
			</mat-sidenav>
			<mat-sidenav-content>
				<div id="sidenav-button" *ngIf="isHandset$ | async">
					<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
						<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
					</button>
				</div>
				<main>
					<router-outlet></router-outlet>
				</main>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</ng-template>
</div>

<ng-template #notSignedIn>
	<button mat-icon-button routerLink="/login" [queryParams]="{ return: router.url }">
		<mat-icon>login</mat-icon>
	</button>
</ng-template>