section#top-bar-wrapper {
	background: inherit;
	display: flex;
	flex-direction: column;
	height: 100%;
	main {
		flex-grow: 1;
	}
}

.sidenav-container {
	height: 100%;
	.sidenav {
		width: 200px;
		height: 100%;
		h1.title {
			text-align: center;
		}
	}
	.sidenav .mat-toolbar {
		background: inherit;
	}
	.mat-toolbar.mat-primary {
		position: sticky;
		top: 0;
		z-index: 1;
	}
	div#sidenav-button {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
	}
	div#sidenav-wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		div#sidenav-bottom {
			border-top-left-radius: 0.5em;
			border-top-right-radius: 0.5em;
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

main {
	// Define it as 100vh so the entire background is filled.
	// Also doubles for an easy way to hide the nav bar when `top` for screenshots and what else.
	min-height: 100vh;
}

h1.title {
	cursor: default;
}

h1.title.clickable {
	cursor: pointer;
}

.spacer {
	flex-grow: 1;
}
