<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
		<p *ngIf="emailAlreadyExists">Email Already Exists</p>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="isVisible ? 'text' : 'password'" formControlName="password" required />
        <button mat-icon-button matSuffix type="button" (click)="isVisible = !isVisible"><mat-icon>{{ isVisible ? 'visibility' : 'visibility_off' }}</mat-icon></button>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid || loggingIn">Login</button>
    <button mat-raised-button type="button" color="primary" [disabled]="loginForm.invalid || loggingIn" (click)="register()">Register</button>
</form>