<section *ngIf="searchBar;else page">
	<form [formGroup]="searchForm" (ngSubmit)="search()">
		<mat-form-field appearance="fill">
			<mat-label>Search</mat-label>
			<input matInput formControlName="search" />
			<button mat-icon-button type="submit" matSuffix><mat-icon>search</mat-icon></button>
		</mat-form-field>
	</form>
</section>

<ng-template #page>
	<button mat-raised-button color="primary" *ngFor="let dbpage of pages" [routerLink]="[dbpage.slug]">{{ dbpage.title }}</button> <!-- TODO: make this look good -->
</ng-template>